#simpleSmile {
  position: absolute;
  min-width: 100px;
  min-height: 100px;
  z-index: 1000;
}

#simpleSmile {
  position: absolute;
  height: 224px;
  width: 264px;
  border: solid 1px #d3d9de;
  border-radius: 3px;
  background: #fff;
  display: none;
  z-index: 10000;
}

#simpleSmile .smilesCollection {
  position: relative;
  border-bottom: solid 1px #d3d9de;
  height: 190px;
  padding: 2px 4px;
}

#simpleSmile .smilesCollection i {
  cursor: pointer;
  margin: 4px;
  width: 20px;
  height: 20px;
}

#simpleSmile .collections {
  height: 28px;
  padding-top: 4px;
}

#simpleSmile .collections i {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 1px;
  cursor: pointer;
  background-image: url('/static/emoji/categories.png');
}

#simpleSmile.smile24 {
  width: 300px;
  height: 232px;
}

#simpleSmile.smile24 .smilesCollection {
  height: 198px;
}

#simpleSmile.smile24 .smilesCollection i {
  width: 24px;
  height: 24px;
}

#simpleSmile.smile24 .collections i {
  margin: 0 3px;
}

